@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
    color: #003049;
    background-color: #eae2b7;
    font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
    padding: 40px;
}

h1 {
    margin-bottom: 10px;
    /* Reduce the space below the heading */
}

p {
    color: #003049;
    line-height: 1.5;
    font-weight: 600;
}

div {
    margin: auto;
    width: 600px;
}

article div {
    text-align: center;
    width: 100%;
}

img {
    width: 100%;
    max-width: 200px;
    height: auto;
}

h1,
h2,
h3 {
    font-family: "Playfair Display", Times, serif;
    text-align: center;
}

h2 {
    font-size: 2.0em;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.5em;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 0;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    flex-grow: 1;
    text-align: center;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: underline;
    color: #f00202;
    font-family: "Source Sans Pro",sans-serif;
    font-weight: bold;
}

nav ul li a:hover {
    color: #f77f00;
}

#about {
    width: 600px;
    margin: 0 auto;
    padding: 20px 0;
}
#about p,
#about li {
    color: #003049;
    font-weight: 600;
    /* Makes <p> and <li> in the About section bolder */
}

#about img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid #003049;
    width: 200px;
}

#portfolio {
    width: 600px;
    margin: 0 auto;
    padding: 20px 0;
}

#portfolio img {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: auto;
}

#portfolio p {
    text-align: left;
}

#portfolio h2,
#portfolio h3 {
    text-align: center;
}

#contact {
    width: 600px;
    margin: 0 auto;
    padding: 20px 0;
}

#contact h2 {
    text-align: center;
    font-size: 2.5em;
}

#contact form {
    text-align: center;
}
#contact li {
    color: #003049;
    font-weight: 600;      
}


#contact a:link,
#contact a:visited {
    color: #d62828; /* Maintain hover effect, if desired */
}

#contact a:active {
    color: #d62828; /* Ensure active link uses the same color */
}
#contact a:hover {
    color: #f77f00;
    /* Hover color */
}

header,
footer {
    text-align: center;
    padding: 20px 0;
}

a:link {
    color: #d62828;
}

a:hover {
    color: #f77f00;
}


hr {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    border: 1px solid #003049;
}